.Desktop {
    position:relative;
    background: #051544;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 32px;
    letter-spacing: 0.2em;
    color: #7BF762;
    overflow-x: hidden;
    overflow-y: auto;
}

.buttonClick {
    border-radius: 8px;
    border: 1px solid #5A8F4F;
    text-align: center;
    box-sizing: border-box;
    color: #5A8F4F;
}
.Short {
    padding: 16px 16px 12px;
}
.Right {
    background: #1C3C16;
    text-align: left;
    color: #7BF762;
}
.Bottom {
    background: #1C3C16;
    text-align: left;
    color: #5A8F4F;
}

.buttonClick:active {
    border: 1px solid #7BF762;
    color: #7BF762;
}

.rectangle {
    height: 5vh;
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    vertical-align: middle;
  }

.Container {
    padding-top: 40px;
    padding-left: 32px ! important;
    padding-right: 32px ! important;
    padding-bottom: 32px;
    border: 1px solid #7BF762;
    border-radius: 8px;
}