.Desktop {
  position: fixed;
  height: 1024px;
  width: 1440px;
  padding: 32px 248px;
  border-radius: 0px;
  background-color: #8d97b6;
}

.container {
  height: 848px;
  width: 944px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  border: 1px solid #7BF762;
  border-radius: 8px;
  
}
.header1 {
  width: 944px;
  height: 27px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #7BF762;
}

.left{
  position: absolute;
  width: 576px;
  height: 240px;
  left: 280px;
  top: 176px;

  border: 1px solid #5A8F4F;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2em;
  
  color: #7BF762;
}

.total{
  position: absolute;
  width: 304px;
  height: 240px;
  left: 856px;
  top: 176px;

  border: 1px solid #5A8F4F;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2em;
  
  color: #7BF762;
}

.titles{
  background: #7BF762;
}

.colorCard{
  height: 112px;
  width: 160px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  border: 1px solid #5A8F4F;
  font-family: Roboto Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  display:grid;
  margin-right: 32px;
}

.rectangle {
  height: 32px;
  width: 64px;
  margin: 16px 0px 0px 48px;
  border-radius: 8px;
  vertical-align: middle;
}
.powerWarp{
  height: 64px;
  width: 160px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  border: 1px solid #5A8F4F;
  font-family: Roboto Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
}
.optionPackage{
  height: 192px;
  width: 160px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  border: 1px solid #5A8F4F;
  font-family: Roboto Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
}